body {
    background-color: black !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:wrap;
    flex-direction: column;
    
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
      display:flex;
    }
  }

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
} */
h1 {
  text-transform: uppercase;
  font-weight: bold;
}
form {
  border: .04em solid rgba(0,0,0,.87);
  padding: 30px;
  width: 650px;
  border-bottom: none;
  border-top: none;

}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  color: white !important;
}

.textfield-box {
  background-color: black;
  display:flex;
  flex-direction:column;
}

.floating-label {
  color: black !important;
}

div.journalEntry {
  border: 1em solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
}




